---
templateEngineOverride: njk,md
---

<!doctype html>
<html>
<head>
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/markdown.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
  <script>
    let opts = {
      delimiters: [
          { left: "$$", right: "$$", display: true },
          { left: "$", right: "$", display: false },
      ],
    };
    document.addEventListener("DOMContentLoaded", function () {
      renderMathInElement(document.body, opts);
    });
  </script>
  {% include "title-and-meta.njk" %}
</head>
<body>
  {% include "header.njk" %}
  <main class="wrap">
    {{ content | safe }}
  </main>
  {# {% include 'footer.njk' %} #}
</body>
</html>
