---
layout: "base.njk"
---
<section class="front-matter">
  <h1>{{ title }}</h1>
  <h4>{{ subtitle | safe }}</h4>
  <div class="bylines">
    <div id="publish-date">
      <h3>Published</h3>
      <p>{{ page.date | postDate }}</p>
    </div>
    <div id="last-modified">
      <h3>Last modified</h3>
      <p>{{ page | fileLastModifiedDate | postDate }}</p>
    </div>
  </div>
  <div class="clear"></div>
</section>
<section class="article">
  {{ content | safe }}
</section>
