{%- if tag == "home-page" -%}
<title>Bailey Cook</title>
<meta name="description" content="Bailey is a PhD student at the University of York (Fusion CDT) studying turbulence in magnetically confined plasmas. He is also a private tutor.">
{%- endif -%}
{%- if tag == "about-page" -%}
<title>About</title>
<meta name="description" content="Click to learn more about me!">
{%- endif -%}
{%- if tag == "blog-page" -%}
<title>Blog</title>
<meta name="blog" content="Bailey Cook's blog.">
{%- endif -%}
