html {
  font-family: -apple-system, Helvetica, arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5em;
  text-size-adjust: 100%;
}

/* Some utilities */
.clear {
  clear: both;
}

.hidden {
  display: none;
}

.wrap {
  max-width: 700px;
  margin: 0 auto;
}

.mono {
  font-family: monospace;
}

p {
  font-size: 14px;
}

/* Links and navbar */
a {
  color: rgba(0, 0, 0, 0.8);
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

nav {
  margin-top: 15px;
  margin-bottom: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-bottom: none;
  font-size: 12px;
}

nav a:hover {
  font-weight: bold;
}

h1 {
  line-height: 0.6em;
}

/* Post list at /blog/ */
main {
  margin-top: 80px;
  margin-bottom: 100px;
}

#post-list {
  padding: 20px 0;
}

#post-list .post-title a {
  text-decoration: none;
}

#post-list .post-title a:hover {
  text-decoration: underline;
}

#post-list .post-title {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

#post-list .post-date {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px; 
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 4px;
}

#post-list .post-subtitle {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 1.5em;
}

/* Page formatting (e.g. About and Tutoring pages) */
.page {
  padding: 20px 0;
  font-size: 14px;
}

#name {
  font-size: 36px;
}

/* Blog post formatting */
.front-matter {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.front-matter h1 {
  font-size: 32px;
}

.front-matter .bylines h3 {
  font-size: 9px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.front-matter .bylines p {
  font-size: 10px;
  line-height: 1.6em;
  margin: 0;
}

.front-matter .bylines {
  display: flex;
  justify-content: flex-start;
}

#publish-date, #last-modified {
  flex: none;
  margin-right: 50px;
}

.article {
  font-size: 14px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 50px;
  margin-bottom: 50px;
}

.article blockquote {
  margin: 0;
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}

.article h2 {
  font-size: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  padding-top: 1em;
}

.article .figure {
  border-top: 1px solid hsla(0, 0%, 0%, 0.2);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
  padding: 20px 0;
}

.article .figure .caption {
  padding-top: 15px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.2em;
}

.article .figure .caption-label {
  font-weight: bold;
}

.article ul {
  padding: 0 15px;
}

.article hr {
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  margin: 33px auto;
  width: 70px;
}

.bibliography {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#bibliography {
  padding-left: 15px;
  padding-top: 30px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

p.copyright{
  width: 100%;
  top: 50px;
}

.testimonials {
  display: flex;
  justify-content: space-between;
}

.testimonial {
  flex-basis: calc(50% - 4px); /* Two testimonials with 8px separation */
  height: 100px;
  background-color: black;
}

@media screen and (max-device-width: 700px) {
  body {
    margin: 0 7px;
  }

  .testimonials {
    flex-direction: column;
  }

  .testimonial {
    flex-basis: 100%; /* Single testimonial to fill the screen width */
    margin-bottom: 8px;
  }
}